<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         version="5.0">
    <servlet>
        <servlet-name>RegisterServlets</servlet-name>
        <servlet-class>com.jsp.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlets</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
