<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h2>Spring MVC Form Demo - Registration</h2>
<form action="/process" method="post">
    User Name: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    E-mail: <input type="email" name="email"><br><br>
    Birthday (mm/dd/yyyy): <input type="text" name="birthday"><br><br>
    Profession:
    <select name="profession">
        <option>Developer</option>
        <option>Tester</option>
        <option>Designer</option>
    </select><br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
